{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cart product list</h1>

    {% for productInCart in productsInCart %}
        <h4>Products in Tax Rate: {{ productInCart.taxRate }} %:</h4>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sum item</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for product in productInCart.products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} zł</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.sum }} zł</td>
                    <td>
                        {{ form_start(product.form, {'name': 'form_' ~ product.id}) }}
                            <input type="submit" value="Remove from cart">
                        {{ form_end(product.form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}


{% endblock %}
